<!doctype html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Survery Results</h1>
      </div>
      <h4>The graduation ceremony is on Friday May 26, 2017 @ 10am in SPV. What
        date/time do you want to have the party? </h4>
      <canvas id="chart-q1" width="800" height="400"></canvas>
      <h4>How much are you willing to pay per person?</h4>
      <canvas id="chart-q2" width="800" height="400"></canvas>
      <h4>Who would you like to bring/invite to the party?</h4>
      <canvas id="chart-q3" width="800" height="400"></canvas>
      <h4>How many people are you inviting?</h4>
      <canvas id="chart-q4" width="800" heigh="400"></canvas>
      <h4>Are you willing to volunteer or donate?</h4>
      <canvas id="chart-q5" width="800" height="400"></canvas>
      <h5>Other Submissions</h5>
      <ul>
        <% question5Other.forEach(function(r){ %>
          <li><%= r.other %></li>
        <% }); %>
      </ul>
      <h4>Venue Recomendations</h4>
      <ul>
        <% venueRecs.forEach(function(r){ %>
          <li><%= r.name %> - <%= r.address %></li>
        <% }); %>
      </ul>
    </div>
    <script>
      function htmlDecode(input){
        var e = document.createElement('div');
        e.innerHTML = input;
        return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
      }
      var question1 = JSON.parse(htmlDecode('<%= JSON.stringify(question1)%>'));
      var question2 = JSON.parse(htmlDecode('<%= JSON.stringify(question2)%>'));
      var question3 = JSON.parse(htmlDecode('<%= JSON.stringify(question3)%>'));
      var question4 = JSON.parse(htmlDecode('<%= JSON.stringify(question4)%>'));
      var question5 = JSON.parse(htmlDecode('<%= JSON.stringify(question5)%>'));
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>
    <script src="/js/charts.js"></script>
  </body>
</html>
